SUPABASE_URL=https://qlyzuvasybmanktbuipm.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_eEEhFCMhXqzzT6KVbtjEEg_dhbEqDOr
EMAIL_CONFIRMATION_REDIRECT_URL=https://frontend-matquest.vercel.app/email-confirmado.html
FRONTEND_ORIGINS=https://frontend-matquest.vercel.app,http://127.0.0.1:5500,http://localhost:5500
FLASK_DEBUG=1
PORT=5000
